<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.mercadopago.com/v2/security.js" view="home"></script>

    <title>Detail</title>
</head>
<body>
    <section>
        <picture>

        </picture>
        <article>
            <h2><%= title %> </h2>
            <span><%= condition %> </span>
            <span><%= sold_quantity %> </span>
            <section>
               

        <form method="POST">
            <script
            src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
            data-preference-id='<%= global.id %>'>
            </script>
        </form>
  
            </section>
        </article>
    </section>
</body>
</html>