<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.mercadopago.com/v2/security.js" view="home"></script>

    <title>Detail</title>
</head>
<body>
    <section>
        <picture>

        </picture>
        <article>
            <h2><%= title %> </h2>
            <span><%= condition %> </span>
            <span><%= sold_quantity %> </span>
            <section>
                <form action="">
                    <input type="number" name="" id="">
                    <button type="submit">COMPRAR</button>
                </form>
            </section>
        </article>
    </section>
</body>
</html>