<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (locals.payments) { %>
        Tu pago esta <%= payments.collection_status %> 
        <%= payments.collection_id %>pmi 
        <%= payments.external_reference %> exr
    <% } %>
      
</body>
</html>